#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}
#buttonContainer{
    text-align: center;

}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(11, 138, 110);
    border-color: rgb(8, 63, 63);
    border-width: 0.3em;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: rgb(7, 66, 53);
    border-color: rgb(57, 15, 136);
}



.hidden{
    display: none;
    text-align: center;
}

#videoContainer{
    margin-top: 30px;
    text-align: center;
}